cartridges/int_canadapost/cartridge/webreferences2/authreturn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AuthorizedReturn" targetNamespace="http://www.canadapost.ca/ws/soap/authreturn/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.canadapost.ca/ws/soap/authreturn/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/2004-08-24.xsd/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        V2.1 – Made 'parcel-characteristics' and child element 'weight' optional.
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.canadapost.ca/ws/soap/authreturn/v2">

            <xsd:element name="create-authorized-return-request">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="mailed-by" type="tns:CustomerIDType" />
                        <xsd:element name="mobo" type="tns:CustomerIDType" minOccurs="0" />
                        <xsd:element name="locale" type="tns:locale" minOccurs="0" />
                        <xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
                        <xsd:element name="authorized-return" type="tns:AuthorizedReturnType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="create-authorized-return-response">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="authorized-return-info" type="tns:AuthorizedReturnInfoType" />
                        <xsd:element name="messages" type="tns:messages" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="AuthorizedReturnInfoType">
                <xsd:all>
                    <xsd:element name="tracking-pin" type="tns:TrackingPINType" />
                    <xsd:element name="artifacts" type="tns:ArtifactsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:simpleType name="TrackingPINType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="11" />
                    <xsd:maxLength value="16" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="AuthorizedReturnType">
                <xsd:all>
                    <xsd:element name="service-code" type="tns:ServiceCodeType" />
                    <xsd:element name="returner" type="tns:ReturnerType" />
                    <xsd:element name="receiver" type="tns:ReceiverType" />
                    <xsd:element name="parcel-characteristics" type="tns:ParcelCharacteristicsType" minOccurs="0"/>
                    <xsd:element name="print-preferences" type="tns:PrintPreferencesType" minOccurs="0" />
                    <xsd:element name="settlement-info" type="tns:AuthSettlementInfoType" />
                    <xsd:element name="references" type="tns:ReferencesType" minOccurs="0" />
                    <xsd:element name="notifications" type="tns:NotificationsType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="AuthSettlementInfoType">
                <xsd:all>
                    <xsd:element name="paid-by-customer" type="tns:CustomerIDType" minOccurs="0" />
                    <xsd:element name="contract-id" type="tns:ContractIDType" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReturnerType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="domestic-address" type="tns:DomesticAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReceiverType">
                <xsd:all>
                    <xsd:element name="name" type="tns:ContactNameType" />
                    <xsd:element name="company" type="tns:CompanyNameType" minOccurs="0" />
                    <xsd:element name="email" type="tns:EmailType" minOccurs="0" />
                    <xsd:element name="receiver-voice-number" type="tns:PhoneNumberType" minOccurs="0" />
                    <xsd:element name="domestic-address" type="tns:DomesticAddressDetailsType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ReferencesType">
                <xsd:all>
                    <xsd:element name="customer-ref-1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="customer-ref-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="35" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:simpleType name="ContactNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CompanyNameType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="44" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="EmailType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:pattern value="(['_A-Za-z0-9\-\+]+)(\.['_A-Za-z0-9\-\+]+)*@([A-Za-z0-9\-]+)(\.[A-Za-z0-9\-]+)*(\.[A-Za-z]{2,5})" />
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="DomesticAddressDetailsType">
                <xsd:all>
                    <xsd:element name="address-line-1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="address-line-2" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:maxLength value="44" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="city">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:normalizedString">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="40" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="province" type="tns:ProvinceType" />
                    <xsd:element name="postal-code" type="tns:PostalCodeType" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ParcelCharacteristicsType">
                <xsd:all>
                    <xsd:element name="weight" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:minExclusive value="0" />
                                <xsd:maxInclusive value="999.999" />
                                <xsd:fractionDigits value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="dimensions" minOccurs="0">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="length" type="tns:DimensionMeasurementType" />
                                <xsd:element name="width" type="tns:DimensionMeasurementType" />
                                <xsd:element name="height" type="tns:DimensionMeasurementType" />
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PrintPreferencesType">
                <xsd:all>
                    <xsd:element name="output-format" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="8.5x11" />
                                <xsd:enumeration value="4x6" />
                                <xsd:enumeration value="3x5" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="encoding" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="PDF"/>
                                <xsd:enumeration value="ZPL"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="show-packing-instructions" type="xsd:boolean" default="true" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="NotificationsType">
                <xsd:sequence>
                    <xsd:element name="notification" minOccurs="1" maxOccurs="4">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="email" type="tns:EmailType" />
                                <xsd:element name="on-shipment" type="xsd:boolean" />
                                <xsd:element name="on-exception" type="xsd:boolean" />
                                <xsd:element name="on-delivery" type="xsd:boolean" />
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="email-subject" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="tracking" />
                                <xsd:enumeration value="customer-ref-1" />
                                <xsd:enumeration value="customer-ref-2" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArtifactsType">
                <xsd:sequence>
                    <xsd:element name="artifact" type="tns:ArtifactType" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArtifactType">
                <xsd:sequence>
                    <xsd:element name="artifact-id" type="tns:ArtifactIdType" />
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:RelType" use="required" />
            </xsd:complexType>

            <xsd:simpleType name="ArtifactIdType">
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="999999999999999999" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="DimensionMeasurementType">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="0" />
                    <xsd:maxInclusive value="999.9" />
                    <xsd:fractionDigits value="1" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PostalCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z]\d[A-Z]\d[A-Z]\d" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ProvinceType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="2" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PhoneNumberType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:maxLength value="25" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="CustomerIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ContractIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="ServiceCodeType">
                <xsd:restriction base="xsd:normalizedString">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="RelType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="returnLabel" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="messages">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="message">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="code" type="xsd:string" />
                                <xsd:element name="description" type="xsd:string" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="locale">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([eE][nN]|[fF][rR])" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="PlatformIDType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{1,10}" />
                </xsd:restriction>
            </xsd:simpleType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateAuthorizedReturnRequest">
        <wsdl:part name="body" element="tns:create-authorized-return-request"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateAuthorizedReturnResponse">
        <wsdl:part name="body" element="tns:create-authorized-return-response"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AuthReturnPortType">
        <wsdl:operation name="CreateAuthorizedReturn">
            <wsdl:input message="tns:CreateAuthorizedReturnRequest"></wsdl:input>
            <wsdl:output message="tns:CreateAuthorizedReturnResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AuthReturn" type="tns:AuthReturnPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreateAuthorizedReturn">
            <soap:operation soapAction="http://www.canadapost.ca/ws/soap/authreturn/v2/CreateAuthorizedReturn" />
            <wsdl:input>
                <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AuthReturnService">
        <wsdl:port name="AuthReturnPort" binding="tns:AuthReturn">
            <soap:address location="https://ct.soa-gw.canadapost.ca/rs/soap/authreturn/v2" />
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken10 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssUsernameToken11 />
                        </wsp:Policy>
                    </sp:UsernameToken>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

</wsdl:definitions>